* {
        padding: 0;
        margin: 0;
        color: black;
}

a {
        text-decoration: none;
}

.search-space{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
}

.main-box {
        width: 100%;
        margin: 10px auto;
        padding: 20px;
        text-align: center;
}

input {
        margin: 10px 10px;
        padding: 12px 20px;
        border-radius: 25px;
        width: 400px;
        margin-top: 0px;
}

.btn {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    gap: 15px;              /* 버튼 사이 간격 */
    margin: 5px 0;         /* 위(검색창과의 간격) */
}

.btn > button {
        
        border-style: none;
        font-size: 13px;
        font-weight: bold;
        background-color: white;
        margin-bottom: 10px;
        margin-left: 10px;
}

.find {
        margin: 0;
        border: 2px solid black;
        border-radius: 25px;
        width: 75px;
        height: 40px;
        font-size: 12px;
        font-weight: bold;
        background-color: white;
        margin-bottom: 10px;
}

li:hover {
        transform: translate3d(-5px);
        box-shadow: 0 5px 15px gray;
}

.errorMsg { color : red;
                font-size: 15px; }