/* 헤더 전체 컨테이너 */
header {
  display: flex;
  justify-content: flex-end;
  /* 오른쪽 정렬 */
  align-items: center;
  /* 세로 중앙 정렬 */
}

/* 헤더 안의 링크 스타일 */
header a {
  margin: 5px 25px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  /* 전체 설정과 맞춤 */
  transition: color 0.2s;
  /* 부드러운 색상 변경 효과 */
}

/* 마우스 올렸을 때 효과 (기존 li:hover와 통일감) */
header a:hover {
  color: gray;
}

header a:last-child {
  margin-right: 480px;
}